<template>
  <b-row align-v="center" class="home">
    <b-col align-self="center">
      <Rebalance></Rebalance>
    </b-col>
  </b-row>
</template>

<script>
// @ is an alias to /src
import Rebalance from './../components/Rebalance'
export default {
  name: 'home',
  components: { Rebalance },
}
</script>
<style lang="scss">
</style>
