<template>
  <div>
    <b-input-group>
      <b-form-select
        class="token-select"
        v-model="selectedToken"
        :options="filteredTokens"
        value-field="tokenAddress"
        text-field="symbol"
        @change="addToken"
        size="sm"
      >
        <template v-slot:first>
          <option :value="null" disabled>-- Add token to group --</option>
        </template>
      </b-form-select>
      <!-- <template v-slot:append>
        <b-button size variant="primary" :block="true" @click="addToken">Add token</b-button>
      </template>-->
    </b-input-group>
  </div>
</template>

<script>
export default {
  name: 'addTokenSelect',
  data() {
    return {
      selectedToken: null,
      filteredTokens: [],
    }
  },
  props: {
    groupId: String,
  },
  computed: {
    tokens: {
      get() {
        return this.$store.getters['rebalance/tokens']
      },
    },
  },
  created() {
    this.tokens.forEach(async token => {
      const tokenInGroup = this.$store.getters['rebalance/tokenAddressInGroup'](token.tokenAddress)
      if (tokenInGroup === undefined) {
        this.filteredTokens.push(token)
      }
    })
  },
  methods: {
    async addToken() {
      if (this.selectedToken === null) {
        alert('Please choose token to add.')
        return
      }
      const newValue = await this.$store.dispatch('rebalance/addTokenToGroup', {
        groupId: this.groupId,
        tokenAddress: this.selectedToken,
      })
      this.selectedToken = null
    }
  },
}
</script>

<style lang="scss" scoped>
.token-select {
  background-color: #fff0;
  color: #00dba9 !important;
  border: 1px solid #00dba9;
  option {
    background-color: #fff0;
  }
}
</style>