<template>
  <b-container fluid style="margin-top: 100px">
    <b-row class>
      <b-col cols="5" offset="1" md="3" offset-md="2" class="float-left text-left">
        <img
          alt="Rebalance Logo"
          class="d-block mb-4"
          src="../assets/rebalance-logo-square.png"
          width="64"
        />
        <p class="text-secondary">
          Don't trust our words, trust our code. The Rebalance code is available on&nbsp;
          <a
            class="text-white"
            href="https://gitlab.com/blockchangers/rebalance"
            target="_blank"
          >Gitlab</a>.
        </p>
      </b-col>
      <b-col cols="5" offset="1" md="4" class="float-right text-right">
        <h4 class="text-white">Join our community</h4>
        <div class="list-group list-group-flush">
          <a
            class="list-group-item text-white"
            href="https://twitter.com/rebalanceto"
            target="_blank"
          >Twitter</a>
          <a
            class="list-group-item text-white"
            href="https://facebook.com/rebalanceto"
            target="_blank"
          >Facebook</a>
        </div>
      </b-col>
    </b-row>
    <b-row class="my-5 text-left">
      <b-col cols="10" md="8" offset="1" offset-md="2">
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="card card-inactive mb-0">
              <div class="card-body">
                <h3 class="text-white">Disclaimer</h3>
                <p
                  class="text-muted"
                >Nothing herein constitutes an offer to sell, or the solicitation of an offer to buy, any securities or tokens.</p>
                <p
                  class="text-muted"
                >Rebalance enables capital managing using smart contracts. Rebalance does not take custody of tokens and is only a decentralized portfolio management and rebalancing tool. Rebalance is not a licensed bank, broker-dealer, investment advisor or an exchange. Rebalance uses protocol (Uniswap) to power its own service.</p>
                <p class="text-danger">💀 This project is in beta. Use at your own risk.</p>
              </div>
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row style="heigh: 500px"></b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.list-group-item {
  background-color: transparent;
}

.card-inactive {
  border-color: #e3ebf6;
  border-style: dashed;
  background-color: transparent;
  box-shadow: none;
}

.bg-ellipses.bg-dark {
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-image: radial-gradient(#002b49, rgba(0, 0, 0, 0.87) 70%, transparent 70.1%);
  background-size: 200% 150%;
  background-position: bottom;
}

.preheader-content {
  position: relative;
  margin: 0 auto;
  max-width: 640px;
  padding: 6px 8px;
  text-align: center;
}

.preheader-content p {
  margin-bottom: 0;
  line-height: 48px;
  color: #fff;
  text-align: center;
}

.bg-blue-sky {
  background: #56ccf2;
  background: linear-gradient(90deg, #2f80ed, #56ccf2);
}

.text-gold {
  color: gold !important;
}

.bg-gold {
  background-color: gold !important;
}
</style>
