<template>
  <div>
    <b-row class="group my-3" align-v="center">
      <b-col
        class="d-none d-md-block"
        cols="1"
        @mouseover="mouseOver = true"
        @mouseleave="mouseOver = false"
      >
        <v-icon
          name="caret-down"
          v-b-toggle="'collapse-' + group.id"
          scale="3"
          :inverse="mouseOver"
          :flip="visible ? 'vertical' : null"
        />
      </b-col>
      <b-col sm="2" md="1">
        <span>{{group.name}}</span>
      </b-col>
      <b-col sm="8" md="9">
        <vue-slider
          ref="slider"
          v-model="desired"
          :max="maxValue"
          :interval="1"
          @change="setDesired"
          :lazy="true"
          :process="process"
          dotSize="35"
          height="13px"
          tooltip="none"
        >
          <template v-slot:dot="{ value, focus }">
            <div :class="['vue-slider-dot-handle', { focus }]">
              <span class="group-slider-number" style>{{value.toFixed(0)}}</span>
            </div>
          </template>
        </vue-slider>
      </b-col>
      <b-col sm="6" md="1">
        <span>{{(formatUSD(desiredUSD))}}</span>
      </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col cols="8" sm="8" md="3" offset="4" offset-md="9">
        <AddTokenSelect :groupId="group.id"></AddTokenSelect>
      </b-col>
    </b-row>
    <b-row class="my-3">
      <b-col cols="12" class v-for="token in groupTokens" :key="token.tokenAddress">
        <b-collapse :id="'collapse-' + group.id" class="mt-2" v-model="visible">
          <TokenSlider :token="token" :maxValue="100" :groupId="group.id" class="my-5"></TokenSlider>
        </b-collapse>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import TokenSlider from './TokenSlider'
import AddTokenSelect from './AddTokenSelect'
import { ethers } from 'ethers'
export default {
  name: 'groupSlider',
  components: { TokenSlider, AddTokenSelect },
  data() {
    return {
      visible: true,
      mouseOver: false,
      desiredInUSD: 0,
    }
  },
  props: {
    group: {
      type: Object,
    },
  },
  computed: {
    desired: {
      get() {
        return this.group.desiredBalancePercentage
      },
      set(value) {
        //
      },
    },
    desiredUSD: {
      get() {
        return this.group.desiredBalanceUSD
      },
      set() {
        //
      },
    },
    current: {
      get() {
        return this.group.currentBalancePercentage
      },
      set(value) {
        //
      },
    },
    maxValue: {
      get() {
        return 100
      },
    },
    groupTokens: {
      get() {
        return this.$store.getters['rebalance/groupTokens'](this.group.id)
      },
    },
  },
  watch: {},
  created() {},
  methods: {
    async setDesired() {
      const newValue = await this.$store.dispatch('rebalance/setGroupDesiredBalancePercentage', {
        groupId: this.group.id,
        number: this.$refs.slider.getValue(),
      })
      this.$refs.slider.setValue(newValue)
    },
    process(dotsPos) {
      let used = 0
      const processArray = this.groupTokens.map((token, index) => {
        // For first token, just set start point to 0
        const lastValue = index === 0 ? 0 : used
        used = used + (this.group.desiredBalancePercentage / 100) * token.desiredBalancePercentage
        return [lastValue, lastValue + (this.group.desiredBalancePercentage / 100) * token.desiredBalancePercentage, { backgroundColor: token.color }]
      })
      return processArray
    },
    formatUSD(number) {
      return new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
      }).format(number)
    },
  },
}
</script>

<style lang="scss" scoped>
.group-slider-number {
  font-weight: bold;
  font-size: 19px;
  align-items: center;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  color: #fff;
  //color: #434d5a;
}
.vue-slider-dot-handle {
  width: 100%;
  height: 100%;

  background-color: #00f9c0;
  transition: all 0.3s;
}
.vue-slider-dot-handle:hover {
  transform: rotateZ(12deg);
}
.vue-slider-dot-handle.focus {
  border-radius: 0%;
}
</style>