<template>
  <div>
    <!-- ETHERSCAN TOAST -->
    <b-toast
      id="message"
      :variant="message.variant"
      solid
      v-for="(message, index) in messages"
      :key="index"
      :visible="true"
      toaster="b-toaster-bottom-right"
      :no-auto-hide="true"
    >
      <template v-slot:toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">{{message.title}}</strong>
        </div>
      </template>
      {{message.body}}
      <b-button
        size="sm"
        :variant="message.variant"
        :block="true"
        v-if="message.hasOwnProperty('link')"
        :href="message.link"
        target="_blank"
        class="my-3"
      >Visit</b-button>
    </b-toast>
  </div>
</template>

<script>
export default {
  name: 'notification',
  computed: {
    messages: {
      get() {
        return this.$store.state.rebalance.messages
      },
    },
  },
}
</script>

<style lang="scss" scoped>
</style>