<template>
  <div>
    <!-- rebalance header -->
    <b-row class="text-center">
      <b-col cols="12">
        <h1 class="rebalance-header text-center">Rebalance.to</h1>
      </b-col>
      <b-col cols="12">
        <h3
          class="rebalance-account-line text-truncate"
          v-if="$store.state.metamask.accounts > 0 "
        >Account: {{$store.state.metamask.accounts[0]}}</h3>
      </b-col>
      <b-col cols="12">
        <h3 class="rebalance-account-line d-block d-sm-none text-danger">Not optimized for mobile.</h3>
      </b-col>
    </b-row>
    <!-- rebalance body -->
    <b-row v-if="$store.state.rebalance.ready">
      <b-col cols="12">
        <b-row>
          <b-col cols="12" class="my-5">
            <GroupSlider v-for="group in groups" :key="group.id" :group="group"></GroupSlider>
          </b-col>
        </b-row>
        <b-row class="my-3">
          <b-col cols="4" sm="4" md="2">
            <b-button size="sm" variant="outline-success" :block="true" @click="createGroup">+ Group</b-button>
          </b-col>
          <b-col cols="8" sm="8" md="10">
            <b-form-input
              size="sm"
              class="create-group"
              v-model="newGroupNameInput"
              placeholder="New group name..."
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-5">
          <b-col cols="12">
            <b-button
              size="lg"
              :variant="readyForRebalance ? 'success' : 'warning'"
              :block="true"
              class="rebalance-button"
              @click="executeRebalance()"
            >{{readyForRebalance ? "Rebalance" : "Unlock all tokens"}}</b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row v-else class="my-5" align-v="center" style="height: 500px">
      <b-col cols="10" offset="1" class="text-center">
        <p>You need to connect with Metamask to Rebalance</p>
      </b-col>
      <b-col cols="10" offset="1" @click="init">
        <b-button size variant="outline-light" :block="true">
          <span class="mr-2">Connect</span>
          <img
            height="50px"
            src="./../assets/metamask.png"
            rounded
            style="cursor:pointer"
            class="m-auto my-5"
          />
        </b-button>
      </b-col>
      <b-col cols="12">
        <b-spinner class v-if="loadingMetamask" type="grow" label="Spinning"></b-spinner>
      </b-col>
    </b-row>
    <b-row>
      <Notification />
    </b-row>
  </div>
</template>

<script>
import { ethers } from 'ethers'
import GroupSlider from './GroupSlider'
import Notification from './Notification'

export default {
  name: 'rebalance',
  components: { GroupSlider, Notification },
  data() {
    return {
      newGroupNameInput: '',
      loadingMetamask: false,
    }
  },
  created() {
    if (process.env.NODE_env !== 'production') {
      this.init()
    }
  },
  computed: {
    groups: {
      get() {
        return this.$store.getters['rebalance/groups']
      },
    },
    readyForRebalance: {
      get() {
        return this.$store.getters['rebalance/readyForRebalance']
      },
    },
    metamaskReady: {
      get() {
        return this.$store.getters['metamask/ready']
      },
    },
  },
  watch: {
    metamaskReady(newValue, oldValue) {
      if (newValue) {
        this.$store.dispatch('rebalance/init')
      }
    },
  },
  methods: {
    async init() {
      this.loadingMetamask = true
      try {
        await this.$store.dispatch('metamask/init')
      } catch (error) {
        this.loadingMetamask = true
      }
      this.loadingMetamask = false
      // setTimeout(async () => {
      //   if (!this.metamaskReady) {
      //     this.$store.dispatch('metamask/init')
      //   }
      // }, 3000)
    },
    createGroup() {
      if (this.newGroupNameInput === '') {
        alert('Please set a name of new group.')
        return
      }
      this.$store.dispatch('rebalance/addGroup', {
        name: this.newGroupNameInput,
      })
    },
    async executeRebalance() {
      if (this.readyForRebalance) {
        await this.$store.dispatch('rebalance/calculateRebalance')
      } else {
        await this.$store.dispatch('rebalance/unlockAll')
      }
    },
    track () {
      this.$ga.page('/')
    }
  },
}
</script>

<style lang="scss">
/* import theme style */
.rebalance-header {
  font-size: 300%;
  font-style: italic;
  font-weight: 700;
}
.rebalance-account-line {
  font-size: 1rem;
}

.rebalance-button {
  font-size: 300%;
  font-style: italic;
  font-weight: 700;
}

.create-group {
  background-color: #fff0;
  color: #00dba9 !important;
  border: 1px solid #00dba9;
  &:focus {
    background-color: #fff0;
  }
  &::placeholder {
    color: #00dba9;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #00dba9;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #00dba9;
  }
}

/* Vue slider overrides */
$themeColor: #3498db;
$dotShadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32) !default;
$dotShadowFocus: 0px 0px 1px 2px rgba($themeColor, 0.36) !default;
$dotBgColor: #00dba9 !default;
$dotBgColorDisable: #ccc !default;
$dotBorderRadius: 50% !default;

$bgColor: #bdc8d8 !default;
$railBorderRadius: 1px !default;

@import '~vue-slider-component/lib/theme/default.scss';
</style>