<template>
  <div>
    <b-button size="sm" variant="outline-light" :block="true" @click="removeToken">X</b-button>
  </div>
</template>

<script>
export default {
  name: 'removeTokenButton',
  props: {
    tokenAddress: String,
    groupId: String,
  },
  methods: {
    async removeToken() {
      this.$store.dispatch('rebalance/removeTokenFromGroup', {
        tokenAddress: this.tokenAddress,
        groupId: this.groupId,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>