<template>
  <div>
    <b-row align-v="center">
      <b-col cols="2" sm="2" md="1" offset="4" offset-md="1">
        <b-img-lazy
          v-if="token.image"
          :src="token.image"
          :alt="token.symbol"
          height="40"
          width="40"
          class="token-image"
        ></b-img-lazy>
        <b-img
          v-else
          :blank="true"
          :blank-color="token.color"
          :alt="token.symbol"
          rounded="circle"
          height="40"
          width="40"
        ></b-img>
      </b-col>
      <b-col cols="3" sm="3" md="1">
        <span>{{ token.symbol}}</span>
      </b-col>
      <b-col cols="12" sm="12" md="5">
        <vue-slider
          ref="slider"
          v-model="desired"
          @change="setDesired"
          :process="process"
          :marks="marks"
          :max="maxValue"
          :min="0"
          :lazy="true"
          :interval="0.1"
          dotSize="25"
          height="10px"
          :dot-options="{ 'tooltipStyle': {'background-color': '#00dba9'}}"
        >
          <!-- <template v-slot:tooltip="{ value, focus }">
            <div :class="['custom-tooltip', { focus }]">{{ valueInTokens() }}</div>
          </template>-->
        </vue-slider>
      </b-col>
      <b-col cols="4" sm="4" md="1">
        <Unlock
          :tokenAddress="this.token.tokenAddress"
          :exchangeAddress="this.token.exchangeAddress"
        ></Unlock>
      </b-col>

      <b-col cols="4" sm="4" md="1">
        <span v-if="desiredUSD !== 0" class="text-truncate">{{ formatUSD(desiredUSD) }}</span>
      </b-col>
      <b-col cols="4" sm="4" md="1">
        <RemoveTokenButton :tokenAddress="this.token.tokenAddress" :groupId="groupId"></RemoveTokenButton>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import wNumb from 'wnumb'
import { ethers } from 'ethers'
import Unlock from './Unlock'
import RemoveTokenButton from './RemoveTokenButton'
export default {
  name: 'tokenSlider',
  components: { Unlock, RemoveTokenButton },
  data() {
    return {
      marks: {},
      desiredInUSD: 0,
      desiredInTokens: 0,
    }
  },
  props: {
    token: {
      type: Object,
    },
    groupId: {},
    maxValue: {},
  },
  created() {
    this.marks = {
      [this.current]: {
        label: '',
        style: {
          width: '5px',
          height: '10px',
          display: 'block',
          backgroundColor: '#fff',
          'border-radius': '0%',
        },
      },
    }
  },
  computed: {
    current: {
      get() {
        return this.token.currentBalancePercentage
      },
    },
    desired: {
      get() {
        return this.token.desiredBalancePercentage
      },
      set() {
        //
      },
    },
    desiredUSD: {
      get() {
        return this.token.desiredBalanceUSD
      },
      set() {
        //
      },
    },
  },
  methods: {
    async setDesired() {
      const newValue = await this.$store.dispatch('rebalance/setTokenDesiredBalancePercentage', {
        tokenAddress: this.token.tokenAddress,
        number: this.$refs.slider.getValue(),
        groupId: this.groupId,
      })
      this.$refs.slider.setValue(newValue)
    },
    formatUSD(number) {
      return new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
      }).format(number)
    },
    async getDesiredInTokens() {
      const desiredInTokens = await this.$store.dispatch('rebalance/getDesiredInTokens', { tokenAddress: this.token.tokenAddress })
      this.desiredInTokens = desiredInTokens
      return desiredInTokens
    },
    valueDiffInTokens(value) {
      return this.getDesiredInTokens()
    },
    valueDiffInEth(value) {
      // const diff = value - this.current
      // const diffInTokens = diff * this.toDecimal(this.token.valueInEth)
      // const zeroesInFloat = this.getZeroesFromFloat(diffInTokens)
      // const fixFloatDecimals = zeroesInFloat > 0 && zeroesInFloat !== Infinity ? zeroesInFloat + 1 : 0
      // return diffInTokens.toFixed(fixFloatDecimals)
      return value
    },
    toDecimal(hexOrBN) {
      return parseFloat(ethers.utils.formatEther(hexOrBN))
    },
    process(dotsPos) {
      const color = this.desired > this.current ? '#84FC7B' : '#F7567C'
      return [[dotsPos[0], this.current, { backgroundColor: color }]]
    },
    getZeroesFromFloat(float) {
      return -Math.floor(Math.log(float) / Math.log(10) + 1)
    },
  },
}
</script>

<style lang="scss" scoped>
.token-image {
  image-rendering: auto;
  text-shadow: 5px 5px;
}
.vue-slider-dot-tooltip-inner.vue-slider-dot-tooltip-inner-top {
  background-color: #00dba9 !important;
}
</style>