<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-form-checkbox
          switch
          v-model="locked"
          :disabled="!locked"
          size="lg"
          @change="setAllowance"
        ></b-form-checkbox>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">{{ locked ? "Slide to unlock" : "Unlocked"}}</b-col>
    </b-row>
  </div>
</template>

<script>
import { ethers } from 'ethers'
export default {
  name: 'unlock',
  data() {
    return {
      allowance: '0x00',
    }
  },
  computed: {
    locked: {
      get() {
        return ethers.utils.bigNumberify(this.allowance).lte(ethers.constants.Zero)
      },
      set(newValue) {
        //
      },
    },
  },
  props: {
    tokenAddress: {
      type: String,
    },
  },
  created() {
    this.getAllowance()
  },
  methods: {
    async getAllowance() {
      const allowance = await this.$store.dispatch('rebalance/getAllowance', {
        tokenAddress: this.tokenAddress,
      })
      this.allowance = allowance
    },
    async setAllowance() {
      const allowance = await this.$store.dispatch('rebalance/setAllowance', {
        tokenAddress: this.tokenAddress,
      })
      this.allowance = allowance
    },
  },
}
</script>

<style lang="scss" scoped>
</style>