<template>
  <div id="app" class="bg-dark-gradient">
    <Navbar></Navbar>
    <b-container>
      <router-view />
    </b-container>
    <Footer></Footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from './components/Navbar.vue'
import Footer from './components/Footer.vue'
import Vue from 'vue'
import VueAnalytics from 'vue-analytics'

Vue.use(VueAnalytics, {
  id: 'UA-104455695-3',
})

export default {
  name: 'app',
  components: {
    Navbar,
    Footer,
  },
}
</script>

<style lang="scss">
$blue: #00dba9 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #f6f091 !default;
$green: #00dba9 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
#app {
  font-family: filson-pro, Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #434d5a;
  color: #bdc8d8;
}
.bg-dark-gradient {
  background: linear-gradient(58.47deg, rgba(0, 0, 0, 0.87) 0.72%, #002b49);
}

// #nav {
//   padding: 30px;
//   a {
//     font-weight: bold;
//     color: #2c3e50;
//     &.router-link-exact-active {
//       color: #42b983;
//     }
//   }
// }
</style>
